

.responsive {
  width: 100%;
  height: auto;
  max-inline-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 400%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.Navbar {
  background: black;
  color: white;
  padding: 0px 20px;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
  display: inline;
  float: left;
}

.exerciseName{
  color: white;
}

.card-body {
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
  
}

.profileCard{
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  width: 200px;
  height: 300px;
  background-color: black;
  color: white;
}

.workoutCard{
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  width: 200px;
  height: 300px;
  background-color: black;
  color: white;
}

.addWorkoutCard{
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}

.detailsCard{
  border: 2px solid black;
  padding: 20px;
  
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  width: 250px;
  height: 800px;
  background-color: black;
  color: white;
}

.eachWorkout{
height: 200px
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.loginPage {
  
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  width: 200px;
  background-color: black;
  color: white;
}

.bodyLogin{
 margin-right: 1600px;
 
}

.button{
  
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}

.signupCard{
  height: 300px;
}

.loginCard{
  height: 250px;
}

.buttonSignup{
  background-color: black;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.editProfileCard{
  height: 250px;
}





/* .ExcerciseListPage {
  background-image: url("/public/30-days-superhero-fitness-challenge-1280x720.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

@media only screen and (max-width: 650px) {
  .ExcerciseListPage {
    background-image: none;
    background-color: white;
  }
}

.AllCards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* HERO */

.hero-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 50px;
}

.hero-text p {
  font-size: 18px;
}

/* Home HERO */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/CHRIS\ HEMSWORTH\ WORKOUT.jpeg");
  min-height: 50vh;
}

.hero-image .hero-text {
  top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
